__pycache__/
*.pyc
*.egg-info/
*.egg
dist/
build/
.venv/
.DS_Store
.hypothesis/
experiments/reverse/data/
experiments/cond_reverse/data/
checkpoints/
paper/**/_minted/
paper/**/*.minted
paper/**/*.listing
paper/**/*.aux
paper/**/*.bbl
paper/**/*.blg
paper/**/*.fdb_latexmk
paper/**/*.fls
paper/**/*.log
paper/**/*.out
paper/**/*.synctex.gz
paper/**/*.toc
paper/**/*.nav
paper/**/*.snm
paper/**/*.vrb
paper/**/*.lof
paper/**/*.lot
paper/**/*.fff
paper/**/*.ttt
paper/**/*.pdf
!paper/instructions/*.pdf
paper/instructions/instructions.pdf
experiments/rotate/data/learning/modelu.csv
experiments/rotate/data/dataset/test.txt
experiments/rotate/data/dataset/train.txt
experiments/rotate/data/dataset/val.txt
experiments/cond_rotate/data/dataset/test.txt
experiments/cond_rotate/data/dataset/train.txt
experiments/cond_rotate/data/dataset/val.txt
experiments/cond_rotate/data/learning/modelf.csv
experiments/cond_rotate/data/learning/modeli.csv
experiments/cond_rotate/data/learning/modelt.csv
experiments/cond_rotate/data/learning/modelu.csv
